* {
	box-sizing: border-box;
}
div {
	display: block;
}

.modal {
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 1050;
	outline: 0px;
	background: rgba(0, 0, 0, 0.4);
}

.modal.fade .modal-dialog {
	transform: translate(0px, -25%);
	transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
	transform: translate(0px, 0px);
}

.modal-dialog {
	width: 600px;
	margin: 30px auto;
}
.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}

.modal-content {
	position: relative;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.498039) 0px 3px 9px;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	outline: 0px;
}

.modal-header {
	padding: 15px;
	border-bottom: 1px solid rgb(229, 229, 229);
	min-height: 16.4286px;
}

.modal-header .close {
	margin-top: -2px;
}
button.close {
	padding: 0px;
	cursor: pointer;
	background: transparent;
	border: 0px;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	-webkit-appearance: none;
}
.close {
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: rgb(0, 0, 0);
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
	opacity: 0.2;
}

.modal-body {
	position: relative;
	padding: 15px;
}

.form-group {
	margin-bottom: 15px;
}

.btn {
	display: inline-block;
	margin-bottom: 0px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	border-radius: 4px;
	-webkit-user-select: none;
}

.btn-default {
	color: rgb(51, 51, 51);
	background-color: rgb(255, 255, 255);
	border-color: rgb(204, 204, 204);
}

.btn-primary {
	color: rgb(255, 255, 255);
	background-color: rgb(51, 122, 183);
	border-color: rgb(46, 109, 164);
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: rgb(85, 85, 85);
	background-color: rgb(255, 255, 255);
	background-image: none;
	border: 1px solid rgb(204, 204, 204);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid rgb(229, 229, 229);
}